<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Customer</title>
</head>
<body>
<h1>Edit Customer</h1>
<form th:action="@{/templates/customers/edit/{id}(id=${customer.customerId})}" th:object="${customer}" method="post">
    <input type="hidden" th:field="*{customerId}">

    <label for="customerName">Name:</label>
    <input type="text" id="customerName" th:field="*{customerName}" required><br>

    <label for="customerPhoneNumber">Phone:</label>
    <input type="text" id="customerPhoneNumber" th:field="*{customerPhoneNumber}" required><br>

    <label for="customerEmail">Email:</label>
    <input type="email" id="customerEmail" th:field="*{customerEmail}" required><br>

    <label for="customerAddress">Address:</label>
    <input type="text" id="customerAddress" th:field="*{customerAddress}" required><br>

    <button type="submit">Update Customer</button>
</form>
<a href="/templates/customers/customers">Back to List</a>
</body>
</html>