<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>客戶資訊</title>
</head>
<body>
<h1>客戶資訊列表 </h1>
<a href="/customers/add">新增客戶資料</a>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>名稱</th>
        <th>手機</th>
        <th>電子郵件</th>
        <th>地址</th>
        <th>狀態</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer : ${customers}">
        <td th:text="${customer.customerId}"></td>
        <td th:text="${customer.customerName}"></td>
        <td th:text="${customer.customerPhoneNumber}"></td>
        <td th:text="${customer.customerEmail}"></td>
        <td th:text="${customer.customerAddress}"></td>
        <td>
            <a th:href="@{/templates/customers/edit/{id}(id=${customer.customerId})}">Edit</a>
            <a th:href="@{/templates/customers/delete/{id}(id=${customer.customerId})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="/">返回</a>
</body>
</html>